<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>Genevieve Exchange - Alpha release</title>
<!-- Bootstrap -->
<link href="/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css" media="all" />
<link href="/stylesheets/font-awesome.min.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="/stylesheets/style.css"  type="text/css" media="all" />
<link rel="stylesheet" href="/stylesheets/responsive.css"  type="text/css" media="all" />
<link rel="stylesheet" href="/stylesheets/custom.css"  type="text/css" media="all" />
</head>
<body>
<!-- sidebar navigation -->
<div id="sidenav" class="col-sm-1 col-md-1 sidebar">
  <div class="navigation">
    <ul class="nav nav-sidebar">
      <li class="logo"><a href="#"><img class="img-fluid" src="images/sidebar-logo.png" id="contractAddress" alt="#"></a></li>
      <li><a href="/"><span class="icon-img home"></span></a></li>
      <li><a class="alerts" href="#"><span class="pre">15</span><span class="icon-img bell"></span></a></li>
      <li class="active"><a href="#"><span class="icon-img chart"></span></a></li>
      <li><a href="/help"><span class="icon-img comment"></span></a></li>
    </ul>
    <ul class="nav nav-sidebar nav-bottom">
      <!-- <li><a href="#"><span class="icon-img gear"></span></a></li> -->
      <li class="colored"><a href="#"><span class="icon-img eye"></span></a></li>
    </ul>
  </div>
</div>
<ul class="naviagtion-dots">
	<li><a href="#"></a></li>
	<li><a href="#"></a></li>
	<li><a href="#"></a></li>
	<li><a class="active" href="#"></a></li>
	<li><a href="#"></a></li>
	<li><a href="#"></a></li>
	<li><a href="#"></a></li>
</ul>
<!--  exchange graph section-->
<section class="exchange-graphoo">
	<div class="container-fluid">
		<div class="row fila">
			<div class="offset-md-2 offset-lg-2 col-lg-8 col-md-8 col-sm-12" >
				<div class="col-lg-12 col-md-12 col-sm-12" >
					<img class="img-fluid img-widh" src="images/sidebar-logo.png" alt="GENEVIEVE">
					<a href="pdf/Exchange_User_Instructions.pdf" target="_blank" style="float: right;text-decoration: none;margin-top:10px">To read the documentation in pdf click here</a>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12" >
					<h2 class="main-title" style="color:white;margin-top: 50px;font-weight: 200;">GENEVIEVE EXCHANGE:</h2>
					<h2 class="main-title"  style="color:white;font-weight: 200;">USER INSRUCTIONS</h2>
				</div>
			</div>
			<div class="offset-md-1 offset-lg-1 col-lg-10 col-md-10 col-sm-12" style="margin-top:70px;margin-bottom:70px">
				<hr style="color: #fdd203;width: 100px; border: solid 7px;float: left;">
			</div>
			<div class="offset-md-2 offset-lg-2 col-lg-8 col-md-8 col-sm-12">
				<div class="col-lg-12 col-md-12 col-sm-12" >
					<h2 class="main-title" style="color:white;">GENEVIÈVE CRYPTO WEALTH MANAGEMENT SOLUTIONS</h2>
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-per">
				<div class="col-lg-12 col-md-12 col-sm-12" style="background-color: white;border-radius:3px;padding: 20px 30px;">
					<h2 class="main-title" style="font-weight: 600;">GENEVIEVE EXCHANGE: USER INSTRUCTIONS</h2>
					
					<h6 class="main-title" style="font-weight:600;margin-top:15px;margin-bottom:10px;">Requirements:</h6>
					<p style="text-align: justify;font-size: 14px;">To use the Geneviève token exchange, an Ethereum wallet web browser extension is required. We recommend using MetaMask. Jaxx is also compatible.</p>
				
					<h6 class="main-title" style="font-weight:600;margin-top:15px;margin-bottom:10px;">Wallet extensions:</h6>
					<p style="text-align: justify;font-size: 14px;">
						<i class="fa fa-angle-right" style="color: #FF9800;margin-right: 10px;font-weight: 800;"></i>
						<a href="https://metamask.io/" target="_blank" style="text-decoration:none;">https://metamask.io/</a>
					</p>
					<p style="text-align: justify;font-size: 14px;">
						<i class="fa fa-angle-right" style="color: #FF9800;margin-right: 10px;font-weight: 800;"></i>
						<a href="https://jaxx.io" target="_blank" style="text-decoration:none;">https://jaxx.io/</a>
					</p>
					
					<h6 class="main-title" style="font-weight:600;margin-top:15px;margin-bottom:10px;">Deposits:</h6>
					<p style="text-align: justify;font-size: 14px;">
						<i class="fa fa-angle-right" style="color: #FF9800;margin-right: 10px;font-weight: 800;"></i>
						Select the relevant cryptocurrency pairing through the ‘change pairing’ link. 
					</p>
					<p style="text-align: justify;font-size: 14px;">
						<i class="fa fa-angle-right" style="color: #FF9800;margin-right: 10px;font-weight: 800;"></i>
						Follow the relevant deposit link listed under the respective buy and sell functional categories. 
					</p>
					<p style="text-align: justify;font-size: 14px;">
						<i class="fa fa-angle-right" style="color: #FF9800;margin-right: 10px;font-weight: 800;"></i>
						A pop-up window will appear; enter the amount you wish the deposit in the relevant field and click ‘OK’
					</p>
					<p style="text-align: justify;font-size: 14px;">
						<i class="fa fa-angle-right" style="color: #FF9800;margin-right: 10px;font-weight: 800;"></i>
						A MetaMask window will appear requesting confirmation of the transfer. 
					</p>
					<p style="text-align: justify;font-size: 14px;">
						<i class="fa fa-angle-right" style="color: #FF9800;margin-right: 10px;font-weight: 800;"></i>
						The funds will appear in your Geneviève account upon Blockchain confirmation. 
					</p>
					<p style="text-align: justify;font-size: 14px;margin-top: 15px;">
						NOTE: To send tokens, you have to approve them before for the Exchange.<br>
						Exchange address: 0xdafae9d2ecfa1f8bba620680f296c3404770e6fe<br>
						GXVC token address: 0x22F0AF8D78851b72EE799e05F54A77001586B18A<br>
						<a href="/tokens">Instructions to approve your tokens</a>
					</p>
					<h6 class="main-title" style="font-weight:600;margin-top:15px;margin-bottom:10px;">Withdrawals:</h6>
					<p style="text-align: justify;font-size: 14px;">The available balance is the withdrawable amount. Open orders lock the unfilled balance until the order is filled or cancelled; locked balances are unavailable for withdrawal.</p>
					<p style="text-align: justify;font-size: 14px;margin-top:20px">
						<i class="fa fa-angle-right" style="color: #FF9800;margin-right: 10px;font-weight: 800;"></i>
						Select the relevant cryptocurrency pairing through the ‘change pairing’ link. 
					</p>
					<p style="text-align: justify;font-size: 14px;">
						<i class="fa fa-angle-right" style="color: #FF9800;margin-right: 10px;font-weight: 800;"></i>
						Follow the relevant withdrawal link listed under the respective buy and sell functional categories. 
					</p>
					<p style="text-align: justify;font-size: 14px;">
						<i class="fa fa-angle-right" style="color: #FF9800;margin-right: 10px;font-weight: 800;"></i>
						 A pop-up window will appear; enter the amount you wish the withdraw in the relevant field and click ‘OK’
					</p>
					<p style="text-align: justify;font-size: 14px;">
						<i class="fa fa-angle-right" style="color: #FF9800;margin-right: 10px;font-weight: 800;"></i>
						A MetaMask window will appear requesting confirmation of the transfer.
					</p>
					<p style="text-align: justify;font-size: 14px;">
						<i class="fa fa-angle-right" style="color: #FF9800;margin-right: 10px;font-weight: 800;"></i>
						The funds will appear in your Ethereum wallet upon Blockchain confirmation.
					</p>
					
					
					<h6 class="main-title" style="font-weight:600;margin-top:15px;margin-bottom:10px;">Buy Orders:</h6>
					<p style="text-align: justify;font-size: 14px;margin-top:20px">
						<i class="fa fa-angle-right" style="color: #FF9800;margin-right: 10px;font-weight: 800;"></i>
						Select the relevant cryptocurrency pairing through the ‘change pairing’ link. 
					</p>
					<p style="text-align: justify;font-size: 14px;">
						<i class="fa fa-angle-right" style="color: #FF9800;margin-right: 10px;font-weight: 800;"></i>
						Under the ‘Buy’ functional category, enter the desired exchange rate of your order. 
					</p>
					<p style="text-align: justify;font-size: 14px;">
						<i class="fa fa-angle-right" style="color: #FF9800;margin-right: 10px;font-weight: 800;"></i>
						Enter the quantity you wish to purchase in the relevant field. 
					</p>
					<p style="text-align: justify;font-size: 14px;">
						<i class="fa fa-angle-right" style="color: #FF9800;margin-right: 10px;font-weight: 800;"></i>
						The remaining fields will auto-populate. 
					</p>
					<p style="text-align: justify;font-size: 14px;">
						<i class="fa fa-angle-right" style="color: #FF9800;margin-right: 10px;font-weight: 800;"></i>
						Click ‘Buy’. 
					</p>
					<p style="text-align: justify;font-size: 14px;">
						<i class="fa fa-angle-right" style="color: #FF9800;margin-right: 10px;font-weight: 800;"></i>
						A pop-up window will request confirmation of the entered values. Click ‘OK’.
					</p>
					<p style="text-align: justify;font-size: 14px;">
						<i class="fa fa-angle-right" style="color: #FF9800;margin-right: 10px;font-weight: 800;"></i>
						A MetaMask pop-up window will appear to confirm the order. Click ‘OK’.
					</p>
					<p style="text-align: justify;font-size: 14px;">
						<i class="fa fa-angle-right" style="color: #FF9800;margin-right: 10px;font-weight: 800;"></i>
						The placed order is now visible in the ‘Orders’ tab. 
					</p>
					<p style="text-align: justify;font-size: 14px;">
						<i class="fa fa-angle-right" style="color: #FF9800;margin-right: 10px;font-weight: 800;"></i>
						Matching sell orders will execute automatically. Outstanding orders will appear on the order book.
						The execution allowance is 4 hours; thereafter, unmatched orders will automatically cancel. 
					</p>
					<p style="text-align: justify;font-size: 14px;">
						<i class="fa fa-angle-right" style="color: #FF9800;margin-right: 10px;font-weight: 800;"></i>
						Orders can be manually cancelled by clicking ‘Cancel’ under the orders tab
					</p>
					
					
					
					<h6 class="main-title" style="font-weight:600;margin-top:15px;margin-bottom:10px;">Sell Orders:</h6>
					<p style="text-align: justify;font-size: 14px;margin-top:20px">
						<i class="fa fa-angle-right" style="color: #FF9800;margin-right: 10px;font-weight: 800;"></i>
						Select the relevant cryptocurrency pairing through the ‘change pairing’ link. 
					</p>
					<p style="text-align: justify;font-size: 14px;">
						<i class="fa fa-angle-right" style="color: #FF9800;margin-right: 10px;font-weight: 800;"></i>
						Under the ‘sell’ functional category, enter the desired exchange rate of your order. 
					</p>
					<p style="text-align: justify;font-size: 14px;">
						<i class="fa fa-angle-right" style="color: #FF9800;margin-right: 10px;font-weight: 800;"></i>
						Enter the quantity you wish to purchase in the relevant field. 
					</p>
					<p style="text-align: justify;font-size: 14px;">
						<i class="fa fa-angle-right" style="color: #FF9800;margin-right: 10px;font-weight: 800;"></i>
						The remaining fields will auto-populate. 
					</p>
					<p style="text-align: justify;font-size: 14px;">
						<i class="fa fa-angle-right" style="color: #FF9800;margin-right: 10px;font-weight: 800;"></i>
						Click ‘Sell’. 
					</p>
					<p style="text-align: justify;font-size: 14px;">
						<i class="fa fa-angle-right" style="color: #FF9800;margin-right: 10px;font-weight: 800;"></i>
						A pop-up window will request confirmation of the entered values. Click ‘OK’.
					</p>
					<p style="text-align: justify;font-size: 14px;">
						<i class="fa fa-angle-right" style="color: #FF9800;margin-right: 10px;font-weight: 800;"></i>
					A MetaMask pop-up window will appear to confirm the order. Click ‘OK’.
					</p>
					<p style="text-align: justify;font-size: 14px;">
						<i class="fa fa-angle-right" style="color: #FF9800;margin-right: 10px;font-weight: 800;"></i>
						The placed order is now visible in the ‘Orders’ tab. 
					</p>
					<p style="text-align: justify;font-size: 14px;">
						<i class="fa fa-angle-right" style="color: #FF9800;margin-right: 10px;font-weight: 800;"></i>
						Matching buy orders will execute automatically. Outstanding orders will appear on the order book.
						The execution allowance is 4 hours; thereafter, unmatched orders will automatically cancel. 

					</p>
					<p style="text-align: justify;font-size: 14px;margin-bottom: 20px;">
						<i class="fa fa-angle-right" style="color: #FF9800;margin-right: 10px;font-weight: 800;"></i>
						Orders can be manually cancelled by clicking ‘Cancel’ under the orders tab. 
					</p>
					
					
					<h6 class="main-title" style="font-weight:600;margin-top:15px;margin-bottom:10px;">How to reset MetaMask and Exchange code:</h6>
					<p style="text-align: justify;font-size: 14px;">On Chrome (PC)</p>
					<p style="text-align: justify;font-size: 14px;margin-top:20px">
						<i class="fa fa-angle-right" style="color: #FF9800;margin-right: 10px;font-weight: 800;"></i>
						1- Press f12, go to tab "network" and click on "disable cache" (to ensure that you are not running a deprecated code version).
					</p>
					<p style="text-align: justify;font-size: 14px;">
						<i class="fa fa-angle-right" style="color: #FF9800;margin-right: 10px;font-weight: 800;"></i>
						2- Exchange needs to listen to events, and it uses metamask for listening.
					</p>
					<p style="text-align: justify;font-size: 14px;">
						<i class="fa fa-angle-right" style="color: #FF9800;margin-right: 10px;font-weight: 800;"></i>
						To test that both metamask and code are ready, be sure that ether balance is diferent to "You have: 0.000000 ETH"
						If you dont have any Ether left, the correct display for that is "You have: 0 ETH"
					</p>
					
					<p style="text-align: justify;font-size: 14px;margin-top:10px">On Chrome (Mac)</p>
					<p style="text-align: justify;font-size: 14px;margin-top:20px">
						<i class="fa fa-angle-right" style="color: #FF9800;margin-right: 10px;font-weight: 800;"></i>
						1- Press alt+cmd+I, go to tab "network" and click on "disable cache" (to ensure that you are not running a deprecated code version)
					</p>
					<p style="text-align: justify;font-size: 14px;">
						<i class="fa fa-angle-right" style="color: #FF9800;margin-right: 10px;font-weight: 800;"></i>
						2- Exchange needs to listen to events, and it uses metamask for listening.
					</p>
					<p style="text-align: justify;font-size: 14px;">
						<i class="fa fa-angle-right" style="color: #FF9800;margin-right: 10px;font-weight: 800;"></i>
						To test that both metamask and code are ready, be sure that ether balance is diferent to "You have: 0.000000 ETH"
						If you dont have any Ether left, the correct display for that is "You have: 0 ETH"
					</p>
					 
					
					
					
				</div>
			</div>
        </div>
      </div>
    </div>
		</div>
	</div>
</section>
<!-- xhtml --> 
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script src="/javascripts/jquery-1.11.3.min.js"></script> 
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"></script> 
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.bundle.min.js"></script> 
 <!-- Start of ethernitylivehelp Zendesk Widget script --> 
<script>
/*<![CDATA[*/window.zEmbed||function(e,t){var n,o,d,i,s,a=[],r=document.createElement("iframe");window.zEmbed=function(){a.push(arguments)},window.zE=window.zE||window.zEmbed,r.src="javascript:false",r.title="",r.role="presentation",(r.frameElement||r).style.cssText="display: none",d=document.getElementsByTagName("script"),d=d[d.length-1],d.parentNode.insertBefore(r,d),i=r.contentWindow,s=i.document;try{o=s}catch(e){n=document.domain,r.src='javascript:var d=document.open();d.domain="'+n+'";void(0);',o=s}o.open()._l=function(){var e=this.createElement("script");n&&(this.domain=n),e.id="js-iframe-async",e.src="https://assets.zendesk.com/embeddable_framework/main.js",this.t=+new Date,this.zendeskHost="ethernitylivehelp.zendesk.com",this.zEQueue=a,this.body.appendChild(e)},o.write('<body onload="document._l();">'),o.close()}();
/*]]>*/
</script>
<!-- End of ethernitylivehelp Zendesk Widget script -->
</body>
</html>
