<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>Genevieve Exchange - Alpha release</title>
<!-- Bootstrap -->
<link href="/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css" media="all" />
<link href="/stylesheets/font-awesome.min.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="/stylesheets/style.css"  type="text/css" media="all" />
<link rel="stylesheet" href="/stylesheets/responsive.css"  type="text/css" media="all" />
<link rel="stylesheet" href="/stylesheets/custom.css"  type="text/css" media="all" />
</head>
<body>
<!-- sidebar navigation -->
<div id="sidenav" class="col-sm-1 col-md-1 sidebar">
  <div class="navigation">
    <ul class="nav nav-sidebar">
      <li class="logo"><a href="#"><img class="img-fluid" src="images/sidebar-logo.png" id="contractAddress" alt="#"></a></li>
      <li><a href="/"><span class="icon-img home"></span></a></li>
      <li><a class="alerts" href="#"><span class="pre">15</span><span class="icon-img bell"></span></a></li>
      <li class="active"><a href="#"><span class="icon-img chart"></span></a></li>
      <li><a href="/help"><span class="icon-img comment"></span></a></li>
    </ul>
    <ul class="nav nav-sidebar nav-bottom">
      <!-- <li><a href="#"><span class="icon-img gear"></span></a></li> -->
      <li class="colored"><a href="#"><span class="icon-img eye"></span></a></li>
    </ul>
  </div>
</div>
<ul class="naviagtion-dots">
	<li><a href="#"></a></li>
	<li><a href="#"></a></li>
	<li><a href="#"></a></li>
	<li><a class="active" href="#"></a></li>
	<li><a href="#"></a></li>
	<li><a href="#"></a></li>
	<li><a href="#"></a></li>
</ul>
<!--  exchange graph section-->
<section class="exchange-graphoo">
	<div class="container-fluid">
		<div class="row fila">
			<div class="offset-md-2 offset-lg-2 col-lg-8 col-md-8 col-sm-12" >
				<div class="col-lg-12 col-md-12 col-sm-12" >
					<img class="img-fluid img-widh" src="images/sidebar-logo.png" alt="GENEVIEVE">
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12" >
					<h2 class="main-title" style="color:white;margin-top: 50px;font-weight: 200;">GENEVIEVE EXCHANGE:</h2>
					<h2 class="main-title"  style="color:white;font-weight: 200;">USER INSRUCTIONS</h2>
				</div>
			</div>
			<div class="offset-md-1 offset-lg-1 col-lg-10 col-md-10 col-sm-12" style="margin-top:70px;margin-bottom:70px">
				<hr style="color: #fdd203;width: 100px; border: solid 7px;float: left;">
			</div>
			<div class="offset-md-2 offset-lg-2 col-lg-8 col-md-8 col-sm-12">
				<div class="col-lg-12 col-md-12 col-sm-12" >
					<h2 class="main-title" style="color:white;">GENEVIÈVE CRYPTO WEALTH MANAGEMENT SOLUTIONS</h2>
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-per">
				<div class="col-lg-12 col-md-12 col-sm-12" style="background-color: white;border-radius:3px;padding: 20px 30px;">
					<h2 class="main-title" style="font-weight: 600;    text-transform: uppercase;">Instructions to approve your tokens</h2>
					<p style="text-align: justify;font-size: 14px;margin-top:20px">
						<i class="fa fa-angle-right" style="color: #FF9800;margin-right: 10px;font-weight: 800;"></i>
						Go to <a href="https://www.myetherwallet.com" target="_blank">https://www.myetherwallet.com</a>
					</p>
					<p style="text-align: justify;font-size: 14px;">
						<i class="fa fa-angle-right" style="color: #FF9800;margin-right: 10px;font-weight: 800;"></i>
						At the top right, be sure that you are connected to Network ETH (any of the four first options in the dropdown menu)
					</p>
					<p style="text-align: justify;font-size: 14px;">
						<i class="fa fa-angle-right" style="color: #FF9800;margin-right: 10px;font-weight: 800;"></i>
						Click the section <a href="https://www.myetherwallet.com/#contracts" target="_blank">"Contracts"</a> (second from the left).
					</p>
					<p style="text-align: justify;font-size: 14px;">
						<i class="fa fa-angle-right" style="color: #FF9800;margin-right: 10px;font-weight: 800;"></i>
						Paste this values in the text boxes:
					</p>
					<p style="text-align: justify;font-size: 14px;padding-left: 30px;">
						<span>Contract address: <br> <span style="font-weight:600">0x22F0AF8D78851b72EE799e05F54A77001586B18A</span></span>
					</p>
					<p style="text-align: justify;font-size: 14px;padding-left: 30px;">
						<span >ABI / JSON: <br>
							<span style="font-weight:600">[{"constant":true,"inputs":[],"name":"name","outputs":[{"name":"_name","type":"string"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":false,"inputs":[{"name":"_spender","type":"address"},{"name":"_value","type":"uint256"}],"name":"approve","outputs":[{"name":"","type":"bool"}],"payable":false,"stateMutability":"nonpayable","type":"function"},{"constant":true,"inputs":[],"name":"totalSupply","outputs":[{"name":"_totalSupply","type":"uint256"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":false,"inputs":[{"name":"_from","type":"address"},{"name":"_to","type":"address"},{"name":"_value","type":"uint256"}],"name":"transferFrom","outputs":[{"name":"","type":"bool"}],"payable":false,"stateMutability":"nonpayable","type":"function"},{"constant":true,"inputs":[],"name":"decimals","outputs":[{"name":"_decimals","type":"uint8"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":false,"inputs":[{"name":"_value","type":"uint256"}],"name":"burn","outputs":[{"name":"","type":"bool"}],"payable":false,"stateMutability":"nonpayable","type":"function"},{"constant":false,"inputs":[{"name":"_address","type":"address"}],"name":"unfreeze","outputs":[{"name":"","type":"bool"}],"payable":false,"stateMutability":"nonpayable","type":"function"},{"constant":false,"inputs":[{"name":"_newrootAddress","type":"address"}],"name":"changeRoot","outputs":[{"name":"","type":"bool"}],"payable":false,"stateMutability":"nonpayable","type":"function"},{"constant":true,"inputs":[],"name":"version","outputs":[{"name":"","type":"string"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":true,"inputs":[{"name":"_owner","type":"address"}],"name":"balanceOf","outputs":[{"name":"balance","type":"uint256"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":true,"inputs":[{"name":"_address","type":"address"}],"name":"isFreezed","outputs":[{"name":"","type":"bool"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":false,"inputs":[{"name":"_address","type":"address"}],"name":"freeze","outputs":[{"name":"","type":"bool"}],"payable":false,"stateMutability":"nonpayable","type":"function"},{"constant":false,"inputs":[{"name":"_newSwapper","type":"address"}],"name":"changeSwapperAdd","outputs":[{"name":"","type":"bool"}],"payable":false,"stateMutability":"nonpayable","type":"function"},{"constant":true,"inputs":[],"name":"symbol","outputs":[{"name":"_symbol","type":"string"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":true,"inputs":[],"name":"isLocked","outputs":[{"name":"","type":"bool"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":false,"inputs":[],"name":"unlock","outputs":[{"name":"","type":"bool"}],"payable":false,"stateMutability":"nonpayable","type":"function"},{"constant":false,"inputs":[{"name":"_newOwner","type":"address"}],"name":"changeOwner","outputs":[{"name":"","type":"bool"}],"payable":false,"stateMutability":"nonpayable","type":"function"},{"constant":false,"inputs":[{"name":"_to","type":"address"},{"name":"_value","type":"uint256"}],"name":"transfer","outputs":[{"name":"success","type":"bool"}],"payable":false,"stateMutability":"nonpayable","type":"function"},{"constant":false,"inputs":[{"name":"_to","type":"address"},{"name":"_value","type":"uint256"},{"name":"_data","type":"bytes"}],"name":"transfer","outputs":[{"name":"success","type":"bool"}],"payable":false,"stateMutability":"nonpayable","type":"function"},{"constant":true,"inputs":[{"name":"_owner","type":"address"},{"name":"_spender","type":"address"}],"name":"allowance","outputs":[{"name":"","type":"uint256"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":false,"inputs":[{"name":"_to","type":"address"},{"name":"_value","type":"uint256"},{"name":"_data","type":"bytes"},{"name":"_custom_fallback","type":"string"}],"name":"transfer","outputs":[{"name":"success","type":"bool"}],"payable":false,"stateMutability":"nonpayable","type":"function"},{"constant":false,"inputs":[],"name":"lock","outputs":[{"name":"","type":"bool"}],"payable":false,"stateMutability":"nonpayable","type":"function"},{"inputs":[],"payable":false,"stateMutability":"nonpayable","type":"constructor"},{"anonymous":false,"inputs":[{"indexed":true,"name":"from","type":"address"},{"indexed":true,"name":"to","type":"address"},{"indexed":false,"name":"value","type":"uint256"},{"indexed":true,"name":"data","type":"bytes"}],"name":"Transfer","type":"event"},{"anonymous":false,"inputs":[{"indexed":true,"name":"owner","type":"address"},{"indexed":true,"name":"spender","type":"address"},{"indexed":false,"name":"value","type":"uint256"}],"name":"Approval","type":"event"}]</span>
						</span>
					</p>
					<p style="text-align: justify;font-size: 14px;margin-top: 15px;">
						<i class="fa fa-angle-right" style="color: #FF9800;margin-right: 10px;font-weight: 800;"></i>
						Click the button Access.
					</p>
					<p style="text-align: justify;font-size: 14px;">
						<i class="fa fa-angle-right" style="color: #FF9800;margin-right: 10px;font-weight: 800;"></i>
						Select the function "approve" from the dropdown menu below the title "Read / Write contract"
					</p>
					<p style="text-align: justify;font-size: 14px;">
						<i class="fa fa-angle-right" style="color: #FF9800;margin-right: 10px;font-weight: 800;"></i>
						At _spender, paste the Exchange v0.3 address:
					</p>
					<p style="text-align: justify;font-size: 14px;padding-left: 30px;">
						<span style="font-weight:600">0xdafae9d2ecfa1f8bba620680f296c3404770e6fe</span>
					</p>
					<p style="text-align: justify;font-size: 14px;">
						<i class="fa fa-angle-right" style="color: #FF9800;margin-right: 10px;font-weight: 800;"></i>
						At _value, paste the quantity of tokens you want to approve to be deposited, and add 10 decimals:
					</p>
					<p style="text-align: justify;font-size: 14px;padding-left: 30px;">
						<span style="font-weight:600">1 token = 10000000000</span>
					</p>
					<p style="text-align: justify;font-size: 14px;padding-left: 30px;">
						<span style="font-weight:600">0.1 token = 1000000000</span>
					</p>
					<p style="text-align: justify;font-size: 14px;">
						<i class="fa fa-angle-right" style="color: #FF9800;margin-right: 10px;font-weight: 800;"></i>
						Below the inputs, under the title "How would you like to access your wallet?", choose the way you want to connect (MetaMask, Ledger wallet, etc)
					</p>
					<p style="text-align: justify;font-size: 14px;">
						IMPORTANT: The account you use to connect (and thus to approve sending) should be a GXVC holder with enough balance, the same address that will deposit from the Exchange.
					</p>
					<p style="text-align: justify;font-size: 14px;">
						<i class="fa fa-angle-right" style="color: #FF9800;margin-right: 10px;font-weight: 800;"></i>
						Let MyEtherwallet suggest the Gas Limit (or set it to 100000 to be sure it will be high enough) and press "Generate Transaction" button, then "Send Transaction" button, then follow instructions according to the choosen access.
					</p>
					
				</div>
			</div>
        </div>
      </div>
    </div>
		</div>
	</div>
</section>
<!-- xhtml --> 
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script src="/javascripts/jquery-1.11.3.min.js"></script> 
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"></script> 
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.bundle.min.js"></script> 
 <!-- Start of ethernitylivehelp Zendesk Widget script --> 
<script>
/*<![CDATA[*/window.zEmbed||function(e,t){var n,o,d,i,s,a=[],r=document.createElement("iframe");window.zEmbed=function(){a.push(arguments)},window.zE=window.zE||window.zEmbed,r.src="javascript:false",r.title="",r.role="presentation",(r.frameElement||r).style.cssText="display: none",d=document.getElementsByTagName("script"),d=d[d.length-1],d.parentNode.insertBefore(r,d),i=r.contentWindow,s=i.document;try{o=s}catch(e){n=document.domain,r.src='javascript:var d=document.open();d.domain="'+n+'";void(0);',o=s}o.open()._l=function(){var e=this.createElement("script");n&&(this.domain=n),e.id="js-iframe-async",e.src="https://assets.zendesk.com/embeddable_framework/main.js",this.t=+new Date,this.zendeskHost="ethernitylivehelp.zendesk.com",this.zEQueue=a,this.body.appendChild(e)},o.write('<body onload="document._l();">'),o.close()}();
/*]]>*/
</script>
<!-- End of ethernitylivehelp Zendesk Widget script -->
</body>
</html>

